* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header{
    width: 1280px;
    height: 180px;
    background-image: url("./headerweb.png");
    background-size: cover;
    position: fixed;
    
}

#header .logo{
    height: 90px;
    width: 90px;
    float: left;
    margin: 35px auto 0px 35px;
    
}

section{
    padding: 180px 0px;
    margin: 0px 10px 20px 20px;
}

.nav{
    /*height: 100px;*/
    width: 500px;
    font-family: Lato;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    float: right;
    /*margin-left: 10px;*/
    text-align: right;
    margin: 75px auto 0px 30px;
    padding-right: 50px;
    
}

.nav a{
    color: #ffffff;
    padding: 50px 15px;
    text-decoration: none;
    margin: 0px 5px;
}

.nav a:hover{
    color: #09b66d;
    margin: 0px 5px;
    border-radius: 10px;
    background-color: #ffffff;
    padding: 20px 15px;
    text-decoration: none;
}
.content h2{
    font-family: Lato;
    font-size: 50px;
    color: #09b66d;
    margin: 30px 5px 0px 0px;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.content p{
    font-family: 'Nunito';
    font-size: 20px;
    color: #000000;
    margin: 10px auto;
    line-height: 1.5;
}

.logo{
    height: 75px;
    width: 75px;
    float: left;
}

.foto{
    height: 230px;
    width: 350px;
    size: cover;
    margin: 0px auto;
}

footer{
    width: 100%;
    height: 60px;
    background-color: #09b66d;
    padding: 0px 20px;
}

.copyright{
    font-family: Lato;
    font-size: 13px;
    color: #ffffff;
    float: left;
    margin: 21.5px 0px 0px 10px;
}

.socmed{
    float: right;
    margin-right: 20px;
}

.pictsocmed{
    width: 20px;
    height: 20px;
    margin: 20px 0px 30px 30px;
}

